<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monitor Dashboard</title>

    <link rel="stylesheet" href="../static/style.css" />
   
  </head>
  <body>
    <main>
      <div class="container left-side">
       <div class="top">
        <h2>Monitors</h2>
       
       </div>
        <div class="items">
          <div class="item">
            <div class="left">
              <img src="../static/imgs/up.svg" alt="" />

              <div>
                <p class="web-title"><span>example.com</span> <small>| https://areforward-xbra.onrender.com</small></p>
                <p>Up 13 day, 20 hr | 200</p>
              </div>
            </div>
           
          </div>
          <div class="item down">
            <div class="left">
              <img src="../static/imgs/up.svg" alt="" />

              <div>
                <p class="web-title"><span>example2.com</span> | https://areforward.onrender.com</p>
                <p>Down for 13 day, 20 hr | 400</p>
              </div>
            </div>
           
          </div>
         
        </div>
      </div>
      <div class="container right-side">
        <h3>Current Status</h3>
        <div>
          <p>Total: 50</p>
          <p style="color:#0fd508">Up: 25</p>
          <p style="color:#f80909">Down: 25</p>
        </div>
      </div>

    </main>

    <script src="script.js"></script>
  </body>
</html>
